In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
dataz = pd.read_csv('model/data/cleaned-data.csv')

In [3]:
dataz

,zip_code,commune,province,type_of_property,subtype_of_property,price,building_condition,facade_number,living_area,equipped_kitchen,bedroom_nr,swimming_pool,furnished,open_fire,terrace,garden,plot_surface,sub_property_group_encoded
0,2600,Antwerpen,Antwerpen,0,apartment,149000.0,good,2.0,48,installed,1,0,0,0,9.0,0,0,apartments
1,2100,Antwerpen,Antwerpen,0,apartment,248000.0,good,2.0,91,installed,3,0,0,0,2.0,0,0,apartments
2,2660,Antwerpen,Antwerpen,0,apartment,229000.0,good,2.0,100,not installed,3,0,0,0,26.0,0,0,apartments
3,1180,Uccle,Bruxelles,0,apartment,470000.0,good,2.0,179,equipped,3,0,0,0,10.0,0,0,apartments
4,2018,Antwerpen,Antwerpen,0,apartment,480000.0,good,2.0,116,installed,2,0,0,0,7.0,0,0,apartments
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26101,1130,Bruxelles,Bruxelles,1,house,496000.0,no info,2.0,157,equipped,4,0,0,0,0.0,46,0,houses
26102,1130,Bruxelles,Bruxelles,1,house,506000.0,no info,2.0,156,equipped,4,0,0,0,0.0,103,0,houses
26103,1130,Bruxelles,Bruxelles,1,house,521000.0,no info,2.0,156,equipped,4,0,0,0,0.0,103,0,houses
26104,8300,Knokke-Heist,West-Vlaanderen,1,house,1150000.0,good,3.0,204,not installed,3,0,0,0,12.0,0,311,houses
26105,8300,Knokke-Heist,West-Vlaanderen,1,house,1225000.0,good,2.0,260,not installed,4,0,0,0,21.0,0,335,houses

In [10]:
dataz.iloc[[1],:].to_csv('test.csv', index=False)

In [12]:
scaler = MinMaxScaler(feature_range=(0,1))

In [14]:
socecon = pd.read_csv('model/data/soceconvert.csv')

In [15]:
processed = pd.merge(dataz, socecon.drop(columns=['refnis', 'province', 'commune']), on='zip_code', how='left')
processed.drop(columns=['zip_code', 'commune', 'facade_number', 'furnished', 'open_fire', 'sub_property_group_encoded', 'price'], inplace=True)

type_of_property_mapping = {'service flat': 1, 'flat studio': 1, 'chalet': 1, 'kot': 1, 'house': 2, 'apartment': 2, 'ground floor': 2, 'town house': 2, 'bungalow': 2, 
                    'duplex': 3, 'apartment block': 3, 'triplex': 3, 'farmhouse': 3, 'country cottage': 3, 'mixed use building': 3, 'manor house': 4, 'exceptional property': 4, 'villa': 4, 'penthouse': 4, 'mansion': 4, 'loft': 4}

province_mapping = {
    'Bruxelles': 11,
    'West-Vlaanderen': 10,
    'Vlaams Brabant': 9,    
    'Brabant Wallon': 8,
    'Antwerpen': 7,    
    'Oost-Vlaanderen': 6,
    'Limburg': 5,
    'Luxembourg': 4,
    'Namur': 3,
    'LiÃ¨ge': 2,
    'Hainaut': 1
    }

building_condition_mapping = {
    'good': 3,
    'no info': 2,
    'to renovate': 1,
    'to restore': 0
    }

kitchen_mapping = {
        'equipped': 2,
        'installed': 1,
        'not installed': 0
    }

processed['subtype_of_property'] = processed['subtype_of_property'].map(type_of_property_mapping)
processed['province'] = processed['province'].map(province_mapping)
processed['building_condition'] = processed['building_condition'].map(building_condition_mapping)
processed['equipped_kitchen'] = processed['equipped_kitchen'].map(kitchen_mapping)

In [16]:
processed.head()

,province,type_of_property,subtype_of_property,building_condition,living_area,equipped_kitchen,bedroom_nr,swimming_pool,terrace,garden,plot_surface,pop_dens,income_1y,income_17y
0,7,0,2.0,3,48,1,1,0,9.0,0,0,2666,19091.86,15580.68
1,7,0,2.0,3,91,1,3,0,2.0,0,0,2666,19091.86,15580.68
2,7,0,2.0,3,100,0,3,0,26.0,0,0,2666,19091.86,15580.68
3,11,0,2.0,3,179,2,3,0,10.0,0,0,3794,24200.73,19236.10
4,7,0,2.0,3,116,1,2,0,7.0,0,0,2666,19091.86,15580.68

In [17]:
scaled = scaler.fit_transform(processed)

In [19]:
scaled[1]

array([6.00000000e-01, 0.00000000e+00, 3.33333333e-01, 1.00000000e+00,
       8.71327254e-02, 5.00000000e-01, 1.20000000e-01, 0.00000000e+00,
       5.33475593e-04, 0.00000000e+00, 0.00000000e+00, 1.14130200e-01,
       3.40468586e-01, 3.67362025e-01])

In [20]:
type_of_property_mapping = {'service flat': 1, 'flat studio': 1, 'chalet': 1, 'kot': 1, 'house': 2, 'apartment': 2, 'ground floor': 2, 'town house': 2, 'bungalow': 2, 
                        'duplex': 3, 'apartment block': 3, 'triplex': 3, 'farmhouse': 3, 'country cottage': 3, 'mixed use building': 3, 'manor house': 4, 'exceptional property': 4, 'villa': 4, 'penthouse': 4, 'mansion': 4, 'loft': 4}

In [21]:
print([x for x in type_of_property_mapping])

['service flat', 'flat studio', 'chalet', 'kot', 'house', 'apartment', 'ground floor', 'town house', 'bungalow', 'duplex', 'apartment block', 'triplex', 'farmhouse', 'country cottage', 'mixed use building', 'manor house', 'exceptional property', 'villa', 'penthouse', 'mansion', 'loft']